<div class="col-md-6 offset-md-3 mt-5 text-center">
    <div class="card">
        <h4 class="card-header">Login into the vast universe of Feast fighting</h4>
        <div class="card-body">


          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>User name</mat-label>
              <input matInput placeholder="Enter User name" [(ngModel)]="userName" name="userName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Enter Password" [(ngModel)]="password" name="password">
            </mat-form-field>
          </form>

          <button mat-button color="primary" (click)="login()">
                Login
            </button>
          <button mat-button color="primary" (click)="createAccount()">
            Create account
          </button>
        <br/>
          <p>Forgot password? Contact PO or QA.</p>
          <br/>
          <br/>
          <p *ngIf="loginErrorMessage">{{loginErrorMessage}}</p>
        </div>
    </div>
</div>
